body {
    background-color: #eaf6f6;
  }

  hr {
    /* background-color: powderblue; */
    /* border-style: none; */
    border-top: dotted white 5px;
    border-bottom: 0px;
    /* height: 2px; */
    width: 10%;
    margin-left: 0px;
  }

  h1,h3{
    color: #66BFBF;
  }